@*@model List<Finman.Models.investmentPlansSuggested>
*@
@{
    ViewBag.Title = "InvestmentPlansSuggested";
    var dataI = ViewData["InvestmentData"] as List<Finman.Models.investmentPlansSuggested>;
    var dataR = ViewData["RetirementmentData"] as List<Finman.Models.retirementPlansSuggested>;

}

<h2>InvestmentPlansSuggested</h2>


<form>
    <button asp-action="InvestmentForm" asp-controller="AccountController" class="btn btn-primary">Add Investement</button>
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="table-active">
                <th>Investment Goal</th>
                <th>Amount Deposited</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Finman.Models.investmentPlansSuggested investment in dataI)
            {
                <tr>
                    <td>@investment.Id</td>
                    <td>@investment.currentAmount</td>
                    <td>@investment.startTime</td>
                    <td>@investment.endTime</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-controller="AccountController" asp-action="Edit" asp-route-id="@investment.Id" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <a asp-controller="AccountController" asp-action="Delete" asp-route-id="@investment.Id" class="btn btn-primary">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>



<form>
    <button asp-action="RetirementForm" asp-controller="AccountController" class="btn btn-primary">Add Retirement</button>
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="table-active">
                <th>Investment Goal</th>
                <th>Amount Deposited</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Finman.Models.retirementPlansSuggested investment in dataR)
            {
                <tr>
                    <td>@investment.Id</td>
                    <td>@investment.MonthlyExpenses</td>
                    <td>@investment.startTime</td>
                    <td>@investment.endTime</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-controller="AccountController" asp-action="Edit" asp-route-id="@investment.Id" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <a asp-controller="AccountController" asp-action="Delete" asp-route-id="@investment.Id" class="btn btn-primary">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
